.header{
    width:100vw;
    height:200px;
    background-color: rgb(199, 238, 240);
    display: flex;
    gap:30%;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index: 100;
}
.header .presidio_logo{
    width:300px;
    height:200px;
    object-fit: contain;
}
.header_info{
    width:20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.header_info  h1{
    font-size: 20px;
}

.header_info .profile_picture{
    width:130px;
    object-fit: contain;
    border-radius:10px;
}