
.conatiner{
    padding: 10px 150px;
    padding-top:100px;

}

.question_header{
    color: rgb(63 192 232);
    font-size: 45px;
    text-transform: uppercase;
}
.question_subtitle{
    color:rgb(156, 155, 155);
    font-size: 22px;
    /* text-transform: uppercase; */
}

.question{
    font-size:20px;
}
.question_options{
    position: relative;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap:20px;
    justify-content: space-between;
}

.question_option{
    width:200px;
    height:55px;
    background-color:#E2EAF3    ;
    border-radius:50px;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
    position: relative;
    /* transform:translateX(-20px); */
    transition: all 0.5s;
}


.question_checkbox{
    position: absolute;
    top:33%;
    left:12%;
    
    height:20px;
    width:20px;
}
.question_option label{
    font-size:25px;
   position: absolute;
    left: 32%;
       text-transform: capitalize;
}
.question_checkbox:checked + .question_label{
    color:white;
}



.question_option:hover{
    color:black;
    background-color:#AEC0D1;
}


.question_grid_options{
display: grid;
    /* grid-template-columns:repeat(5, 1fr); */
    gap:10px;
    padding-left: 10px;


}
.question_grid_option input{
    height:25px;
    width:25px;
}
.question_grid_option{ 
    font-size:20px;
    display: flex;
    align-items:center;
    /* width:500px; */
    gap:20px;
    /* justify-content: space; */
}


.question_rounded_option{
    width:200px;
    height:55px;
    background-color:#E2EAF3    ;
    border-radius:50px;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
    position: relative;
    /* transform:translateX(-20px); */
    transition: all 0.5s;
}

.question_rounded_option:hover{
    color:black;
    background-color:#AEC0D1;
}
.question_rounded_label{
     font-size:25px;
   position: absolute;
    left: 32%;
       text-transform: capitalize;
}


.selected {
    background-color:#0082C1;
}


.optional_header{
     color: rgb(63 192 232);
     font-size: 22px;
}
.optional_question{
     font-size: 23px;
}

.optional_flex{
    display: flex;
    gap:10px;
    align-items: center;
}

.optional_input{
       width: 100%;
    height: 100px;
    border: 2px solid #E2EAF3;


    border-radius: 10px;
    overflow: hidden;
}
.optional_input:focus{
    border: 2px solid rgb(58, 199, 241);
} 
.optional_input:focus {
    outline:none;
} 


.internal{
    display: flex;

}

.internal_input{
    width: 100%;
    height: 100px;
    border: 2px solid #E2EAF3;
    border-radius: 10px;
    overflow: hidden;
}

.internal div:first-child{
    flex-basis: 50%;
}

.internal div:last-child{
    flex-basis: 60%;
}

.submit_button{
    width:100%;
    height:60px;
    border-radius: 10px;
    font-size:25px;
    font-weight:bold;
    color:white;
text-transform: uppercase;
    background-color:#009AC7;
}

.myClassName{
 border:2px solid blue;
}


.info{
    display: flex;
    flex-direction:column ;
    position: absolute;
    right: clamp(30px,10%,5%);
    top: -45%;
    width: 30vw;
}
/* 
.info input{
    width:300px;
} */




/* .question_info_options{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap:10px;
    justify-content: space-between;
} */


.other{
    position: relative;

}
.other_title{
    position: absolute;
    top: -80%;
}
.other_input{
    width: clamp(100px,400px,30vw);
    position: absolute;
    top:-10%;
    /* position: relative; */
    height: 100px;
    border: 2px solid darkblue;
    border-radius: 10px;
    overflow: hidden;
}

.other_input:focus{
    outline:none;
    border: 2px solid rgb(58, 199, 241);
} 

/* input:invalid + .question {
  background-color: pink;
} */


.hidden{
    display: none;
}



